<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.lbMapper.SetupRolesMapper">
    <sql id="selectColumns">
        roles_id,roles_id_card,roles_name,roles_text,roles_create_time,roles_create_by,roles_status
    </sql>
    <!--增加角色信息-->
    <insert id="addRoles">
        insert into roles
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rolesIdCard != null and rolesIdCard != ''">roles_id_card,</if>
            <if test="rolesName != null and rolesName != ''">roles_name,</if>
            <if test="rolesText != null and rolesText != ''">roles_text,</if>
            <if test="rolesCreateTime != null">roles_create_time,</if>
            <if test="rolesCreateBy != null and rolesCreateBy != ''">roles_create_by,</if>
            <if test="rolesStatus != null and rolesStatus != ''">roles_status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rolesIdCard != null and rolesIdCard != ''">#{rolesIdCard},</if>
            <if test="rolesName != null and rolesName != ''">#{rolesName},</if>
            <if test="rolesText != null and rolesText != ''">#{rolesText},</if>
            <if test="rolesCreateTime != null ">#{rolesCreateTime},</if>
            <if test="rolesCreateBy != null and rolesCreateBy != ''">#{rolesCreateBy},</if>
            <if test="rolesStatus != null and rolesStatus != ''">#{rolesStatus},</if>
        </trim>
    </insert>
    <!--修改角色信息-->
    <update id="editRoles">
        update roles
        <trim prefix="set" suffixOverrides=",">
            <if test="rolesIdCard != null and rolesIdCard != ''">roles_id_card = #{rolesIdCard},</if>
            <if test="rolesName != null and rolesName != ''">roles_name = #{rolesName},</if>
            <if test="rolesText != null and rolesText != ''">roles_text = #{rolesText},</if>
            <if test="rolesCreateTime !=null and rolesCreateTime !=''">roles_create_time = #{rolesCreateTime}</if>
            <if test="rolesCreateBy != null and rolesCreateBy != ''">roles_create_by = #{rolesCreateBy},</if>
            <if test="rolesStatus != null and rolesStatus != ''">roles_status = #{rolesStatus},</if>
        </trim>
    </update>
    <!--删除角色信息-->
    <delete id="deleteById">
        delete from roles where roles_id = #{rolesId}
    </delete>
    <!--分页/模糊查询-->
    <select id="findAll" resultType="com.example.entity.lbEntity.setupRoles">
        select
        <include refid="selectColumns"/>
        from roles
        <where>
            <if test="rolesName != null and rolesName != ''">
                and roles_name = #{rolesName}
            </if>
        </where>
    </select>
</mapper>
